Host ceph-controller
        Hostname ceph-controller
        User cephadmin

Host ceph-compute01
        Hostname ceph-compute01
        User cephadmin

Host ceph-compute02
        Hostname ceph-compute02
        User cephadmin

Host ceph-monitor
        Hostname ceph-monitor
        User cephadmin
